html
  head
    link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
    title  Hello, Neo.. 
  body
    h1 Wake up.
    h2 Seems that you've followed the white rabbit for too long. The rabbit hole goes way deeper.
    img.errorpic(src='images/error.png')
    .errmsg 
    .errp AKA 404