html
  head
      link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
      title Huh..
  body
      h1  Well...
      h2  You weren't supposed to see this..
      img.errorbunny(src='images/404.png')
      h3 Hint: If you're a true wizard, you should be able to sort this mess out yourself: 
      .errmsg
          .longp #{error}

