<!DOCTYPE html>

<html ng-app="ShowerThoughts">
    
	<head> 
        
		<title> Shoughts </title>
        
		<meta charset="utf-8" />
		<link rel='shortcut icon' type='image/x-icon' href='images/Brain-Games.ico' />
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
		<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
		<!-- auth0 dependencies -->
		<script src="bower_components/auth0-lock/build/lock.js"></script>
		<script src="bower_components/angular-lock/dist/angular-lock.js"></script>
		<script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
		<!-- auth0 dependencies -->
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>

		<meta name="viewport" conect="width=device-width", initial-scale=1.0>
        
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600italic|Montserrat' rel='stylesheet' type='text/css'>
        
<!--		<script type='text/javascript' src='path/to/ng-infinite-scroll.min.js'></script> -->
        
		
        
		<script src="/javascripts/controllers/infinite.controller.js"></script>
		<script src="/javascripts/services/post.service.js"></script>
		<script src="/javascripts/directives/infiniteScroll.directive.js"></script>
		<script src="/javascripts/directives/limitTo.directive.js"></script>
		<script src="/javascripts/filters/izbrojReci.filter.js"></script>
		<script src="/javascripts/main.js"></script>
        <base href="/" >
        	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	</head>
	<body class='body' ng-controller="InfiniteController as infinity" infinite-scroll='loadMore()' infinite-scroll-distance='0'>
        
		<div class='container-fluid' id="navigation">
        
			<img class='logo' src='images/brain.png'>
			<div class='penlogo-div'></div> 
        
			<div class='col-lg-2 col-md-2 col-sm-4 col-xs-4' id='search-container'>
                
				<input class='search' type='text' placeholder='Search here...'>
                
			</div>

			<div class='col-lg-1' id='profile-notification'>
                <!--
				<button class='notification' type='button'> N </button>
				<button class='profile-picture-button'> <img class='profile-pic'> </button>
                -->
			</div>

            <div>
              <button>Notification</button>
            </div>


		</div>
        
        <div class="container-fluid">
            <div class='row' id='first-row' >

                <div class='col-lg-5 col-md-5 col-sm-10 col-xs-10' id='input-div'>
                    
                    <!-- username scope -->
                    <form class='forma' ng-submit="post()">          
                        <textarea limit-to="30" ng-model="text" ng-trim="false" maxlength="160" type="text" class='input-text' placeholder="You have 30 words to express your idea, go for it!" ng-click='dim'></textarea>
                        <input class='post-button' ng-model='postDugme' type='submit' value="Shought" ng-class="{'disabled' : text.length==0 || (30 - (text|izbrojiReci) < 0)}"> <!-- a jesam haker jebo me konj u 2 ujutru -->

                    	<div class='counterbox'>
                    		<span ng-model="span">{{30-(text|izbrojiReci)}}</span>
                    	</div>
                    </form>
                </div>
            </div>

        </div>
        

    <div class='container-fluid'>

        <div class='row'>

			<div id='infinite-row'>
					<!-- Ove postove getamo preko nekog globalnog kontrolera u '/api/posts/' -->
                    <div class='col-lg-5 col-md-5 col-sm-10 col-xs-10' id='print-div'  ng-repeat='user in users'> 
                        <!-- <post-list> </post-list> -->
                        <!--<div ng-controller="VoteController">-->
                            <input class="vote up" type="button" value="+" ng-click="voteUp($index)">
                            <input class="vote down" type="button" value="-" ng-click="voteDown($index)">
                            <span>{{user.ups}}</span>
                            
                        <!--</div>-->
                        
                        <p class='print-user'>{{user.name}}</p>
                        <img class='user-print-pic'>
                        <p class='print-text'>{{user.text}}</p>
                        
                    </div>
			</div>
			     	<!--
				 <div class='col-lg-4 col-md-4 visible-lg visible-md' id='masthead'>
				 	<div class='footertext'>
				     <span><a class='copyrightlink' href="archwell.org" title="Archwell"> Archwell Incorporated</a>
				       &copy; <script>  document.write(new Date().getFullYear()) </script></span>
				       <span class='linkovi'><a href='#'>Team</a> <a href='#'>About</a> <a href='#'>Terms</a></span>
				    </div>
			     		<input class='send-feedback' type='button' value='Send feedback' ng-click="expand()">
			     		

			     </div>
					     --> 
		</div>

	</div>
	<div id='overlay'></div>


	</body>
</html>