<head>
<script src='http://cdn.auth0.com/js/lock-7.0.min.js'></script>
<script src="bower_components/auth0-lock/build/lock.js"></script>
<script src="bower_components/angular-lock/dist/angular-lock.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
</head>
  <form name='forma'>
    <input type="text" placeholder="username" class="username" id="username"> <br>
    <input type="password" placeholder="password" class="password" id="password"> <br>
    <button class="signin-db" id='signin'>Log in</button>
  </form>
<script src="https://cdn.auth0.com/w2/auth0-6.7.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script>
  var auth0 = new Auth0({
    domain:         'shoughts.eu.auth0.com',
    clientID:       'ukPhb9JslFD9r8OeBY2kDFp2AlAAFQjm',
    callbackURL:    ''
  });

  // sign-in with social provider with plain redirect
  $('.signin-google').on('click', function() {
    auth0.signin({connection: 'google-oauth2'}); // use connection identifier
  });

  

  // sign-in with social provider using a popup (window.open)
  $('.signin-google-popup').on('click', function() {
    auth0.signin({popup: true, connection: 'google-oauth2'}, 
                function(err, profile, id_token, access_token, state) {
                    /* 
                      store the profile and id_token in a cookie or local storage
                        $.cookie('profile', profile);
                        $.cookie('id_token', id_token);
                    */
                });
  });

  $('.signin-db').on('click', function() {
    auth0.signin({
      connection: 'foo', 
      username: 'bar', 
      password: 'foobar'
    },
    function (err, profile, id_token, access_token, state) {
      /* 
          store the profile and id_token in a cookie or local storage
            $.cookie('profile', profile);
            $.cookie('id_token', id_token);
        */
    });
  });
</script>